/sites/*/settings.local.php
/sites/*/services*.yml
!/sites/*/services.pantheon.*.yml
!/sites/*/services.yml
/sites/*/files
/sites/*/private
/sites/simpletest
/drush/Commands/contrib/
/core/
/modules/contrib/
/themes/contrib/
/profiles/contrib/
/libraries/
/private/scripts/quicksilver
/vendor/
/.editorconfig
/.gitattributes
/.drush-lock-update
/themes/custom/gotjunk_us/node_modules
/sites/default/robots-copy.txt
~/
/tmp/*
/sites/default/settings.php
/sites/development.services.yml
